@model List<CarRental.Models.Car>

<h2>Hello from cars list</h2>


    <table>
        <thead>
            <tr>
                <th>
                    Plate
                </th>
                <th>
                    Segment
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
            <tr>
                <td> @car.PlateId </td>
                <td> @car.Segment </td>
            </tr>
            }
            </tbody>
    </table>
